# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
compile_commands.json
build/
SampleProject/.vscode/c_cpp_properties.json
SampleProject/.vscode/settings.json
SampleProject/.vscode/vex_project_settings.json
